rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Función auxiliar para saber si la sesión está iniciada.
    // Por qué: Restringe el acceso global únicamente a miembros de la UTP registrados en la plataforma.
    function estaAutenticado() {
      return request.auth != null;
    }

    // Función auxiliar para leer el rol del usuario conectado desde la base de datos de Auth.
    // Por qué: Reutilizamos esta consulta para auditar si el usuario tiene privilegios administrativos o de tutor.
    function obtenerRolDelUsuario() {
      return get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.rolEnElSistema;
    }

    match /usuarios/{userId} {
      // Lectura: Cualquier usuario autenticado puede leer cualquier perfil.
      // Por qué: Se necesita para que los estudiantes puedan ver la información de los tutores, y viceversa, habilitando la comunicación en la plataforma.
      allow read: if estaAutenticado();
      
      // Creación: Un usuario solo puede crear su propio documento si el 'rolEnElSistema' es 'estudiante'.
      // Por qué: Evita que un nuevo usuario manipule la petición de creación para asignarse a sí mismo como 'admin' o 'tutor' burlando el sistema.
      allow create: if estaAutenticado() 
                    && request.auth.uid == userId
                    && request.resource.data.rolEnElSistema == 'estudiante';
      
      // Actualización: Un usuario puede actualizar su 'nombreCompleto', 'facultad' y 'carrera', pero TIENE PROHIBIDO actualizar el campo 'rolEnElSistema'.
      // Por qué: Protege el escalamiento de privilegios. Solo un administrador o proceso backend de confianza puede y debe alterar el rol de alguien.
      allow update: if estaAutenticado() 
                    && request.auth.uid == userId
                    && request.resource.data.rolEnElSistema == resource.data.rolEnElSistema;
                    
      // Eliminación: Deshabilitada.
      // Por qué: Mantener la integridad del historial de registros en el sistema académico.
      allow delete: if false;
    }

    match /tutorias/{tutoriaId} {
      // Lectura: Pública para usuarios autenticados.
      // Por qué: Requerido para mostrar el tablero general de tutorías disponibles a toda la comunidad estudiantil.
      allow read: if estaAutenticado();
      
      // Creación: Se permite a cualquier usuario autenticado crear una tutoría.
      // Por qué: Tanto tutores como estudiantes pueden publicar solicitudes de clases a través de la aplicación.
      allow create: if estaAutenticado();
      
      // Eliminación: Solo el creador de la tutoría puede eliminarla si está en estado 'pendiente'.
      // Por qué: Protege la tutoría de ser borrada por malicia de un tercero, y bloquea su eliminación si ya un tutor la aceptó y apartó tiempo en su agenda para impartirla.
      // Nota de diseño: Asumimos al creador como miembro de la 'listaDeEstudiantesInscritos'.
      allow delete: if estaAutenticado()
                    && request.auth.uid in resource.data.listaDeEstudiantesInscritos
                    && resource.data.estadoDeLaSolicitud == 'pendiente';
      
      // Actualización: Protegida. 
      allow update: if estaAutenticado() && (
        // 1. Es un administrador (acceso total)
        obtenerRolDelUsuario() == 'admin' 
        
        // 2. Es el tutor asignado a la clase (acceso total a la clase)
        || resource.data.get('identificadorDelTutor', '') == request.auth.uid 
        
        // 3. Es el creador original de la tutoría (para que pueda cancelarla)
        || resource.data.get('creador', '') == request.auth.uid
        
        // 4. Es un estudiante normal que SOLO entra, sale o apoya la tutoría
        // (Al limitarlo a keys específicas, prevenimos que altere fecha, lugar, tutor, etc.)
        || request.resource.data.diff(resource.data).affectedKeys().hasOnly(['listaDeEstudiantesInscritos', 'motivos_alumnos', 'enlaces_adjuntos', 'nombres_adjuntos', 'estudiantesApoyando']) 
        
        // 5. Es un tutor general aceptando la solicitud (Asignándose a la tutoría)
        || obtenerRolDelUsuario() == 'tutor'
      );
    }
  }
}
